.banner {
    max-width: 100%;
    margin: 0 auto;
    height: 15rem;
    display: flex;                      
    align-items: center;               
    justify-content: center;            
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    .content {
        a{  
            font-size: 1.5rem;
            padding: 1rem;
            color: var(--h-colors);
            background-color: var(--banners-bg-color);
            border-radius: 10px;
            display: inline-block;  
            }           
        }

    img {
        z-index: -1;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;                       
        left: 0;
    }
}
