:root{
    --bg-color: #000000;
    --foot-bg: #c2dfe3;
    --main-font: sans-serif;
    --main-font-color: #ffffff;
    --head-color : rgba(22, 22, 27, 0);
    font-size: 15px ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    
}
.all-body{
    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
}
.main{
    margin-left: 5px;
    margin-right: 5px;
} 

@media print{
    .header, .footer{
        display: none;
    }
}

@media screen and (prefers-color-scheme: light){
    :root{
        --bg-color: #ffffff;
        --main-font-color: #000000;
    }
}