.comps{
    font-size: 1rem;
    width: 5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(217, 78, 106);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s ease, width 1s, color 1s ease, font-size 1s ease;
}

.comps:hover{
    font-size: 1.2rem;
    color: rgb(253, 2, 2);
    background-color: black;
    width: 6rem;
    border: 1px solid rgb(255, 0, 0);
}

.png{
    background-color: rgba(240, 255, 255, 0);
    width: 2em;
    border-radius: 50px;
    transition: width 0.5s ease,  background-color 0.5s ease;
}

.png:hover{
    background-color: #f9f9f9;
    border-radius: 50px;
    width: 2.5em;
}

