.footer{
    padding: 1rem;
    background-color:var(--foot-bg);
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;

    img{
        width: 2em;
        height: auto;
    }
}