.full-form{
    margin: 3rem;
}

.form {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    input{
        width: 50%;
        background-color: var(--comps-bg-color);
        border-radius: 10px;
    }
}
.form_element {
    min-width: 350px;
    flex: 1 1 auto; 
}

@media(min-width: 768px) {
    .form_element {
        flex: 0 1 calc(50% - 20px); 
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .form {
        flex-direction: column; 
        align-items: center; 
    }
    .form_element {
        flex: 1 1 100%;
        margin: 5px 0; 
    }
}

/* radio buttons */
.how{
    margin: 0;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 1rem;
    border: 2px solid var(--comps-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.more_info{
    margin: 0 auto;
    max-width: fit-content;
    textarea{
        background-color: var(--comps-bg-color);
        border-radius: 10px;
    }
}

.love{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}