
.header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:var(--head-color);
    display: flex;   
    justify-content: space-between;
    align-items: center;
    a{
        margin-right: 1rem;
        padding: 20px;
    }

    .header_image{
        width: auto;
        height: 5rem;
    }
}




