
.header{
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:var(--head-color);
    display: flex;   
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid var(--bottom-border-color);
    .btn_menu{
        position: fixed;
        right: 1rem;
        padding: 0.7rem;

    }
    .hiddenbtns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 0.6rem;
        display: none;
    }

    @media screen and (width > 768px ){
        .hiddenbtns{
            display: block;
        }
        .btn_menu{
            display:none;
        }
    }

    .header_image{
        width: auto;
        height: 5rem;
        margin-left: 2rem;
    }
}

.extended_buttons{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}


